    /* Reset and base styling */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  :root {
      --color-primary: hsl(210, 10%, 15%);
      --color-secondary: hsl(0, 0%, 0%);
      --color-background: hsl(0, 0%, 0%);
      --color-text: hsl(210, 10%, 15%);
      --color-pop: #000000;
      --color-muted: hsl(0, 0%, 0%);
  }

  body {
      margin: 0;
      font-family: 'Noto Sans JP';
      line-height: 1.5;
      background: #ffffff;
      color: var(--color-black);
      overflow-x: hidden; /* Prevents horizontal scroll */
  }

  /* Header layout */
  header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 40px;
      padding: 1rem 1rem;
      position: fixed; /* Keep header on top */
      width: 100%;
      z-index: 1000;
      background-color: transparent;
      transition: background-color 0.2s ease;
  }

  /* Nav styles */
  header nav {
      display: flex;
      gap: 20px;
  }

  header button {
      background: none;
      border: none;
      color: var(--color-pop);
      padding: 2rem 1rem;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      transition: color 0.3s ease;
  }

  header button:hover,
  header a:hover .icon {
      color: rgb(110, 110, 110);
      transform: translateY(-1.2px);
  }

  /* Icons */
  .icon-group {
      display: flex;
      gap: 20px;
      padding-right: 40px;
  }

  header a {
      display: flex;
      align-items: center;
      gap: 10px;
  }

  header a .icon {
      color: var(--color-pop);
      width: 40px;
      height: 29px;
      transition: color 0.3s ease;
  }

  header.white-header button,
  header.white-header a .icon {
      color: white;
  }

  header.white-header button:hover {
      color: rgb(200, 200, 200);
  }
  header.white-header a:hover .icon {
      color: rgb(200, 200, 200);
  }

  /* Main content for scroll snapping */
  main {
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
  }

  /* Container styles */
  .container {
      height: 100vh;
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 100px;
      text-align: center;
  }

  .intro-container {
      background-color: white;
      color: black;
  }

  .about-me-container {
      background-color: black;
      color: white;
  }

  .project-container {
      background-color: white;
      color: black;
      position: relative;
      overflow: hidden;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 5rem;
      height: 100vh;
      display: flex;
  }

  .intro-container h1, .intro-container p {
      color: black;
  }

  .about-me-container h1, .about-me-container p {
      color: white;
  }

  .project-container h1, .project-container p {
      color: black;
  }

  .container h1 {
      font-size: 5rem;
      font-weight: 900;
  }

  .container p {
      font-size: 1.5rem;
      font-weight: 100;
      max-width: 800px;
  }

  /* Profile picture styling */
  .profile-picture {
      width: 60px;
      height: 60px;
      background-image: url('Github-Picture.jpg');
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      margin-right: auto;
      transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1), background-image 0.8s ease-in-out;
      cursor: pointer;
  }

  .profile-picture:hover {
      background-image: url('Profile-Picture.jpg');
      transform: rotateY(360deg) translateY(-5px);
      cursor: pointer;
  }

  /* Contact form styling */
  .contact-container {
      max-width: 700px;
      margin: 10px auto 10px auto;
      padding: 50px 30px;
      margin-top: 130px;
      background-color: white;
      border-radius: 12px;
      background: linear-gradient(145deg, #ffffff, #e6e6e6);
      box-shadow:  0px 20px 40px #d9d9d9,
                   -20px -20px 40px #ffffff;
  }

  .contact-form {
      max-width: 1000px;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
  }

  .contact-form label {
      font-weight: bold;
      display: flex;
      margin-top: -1rem;
      color: var(--color-primary);
  }

  .contact-form input,
  .contact-form textarea {
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid var(--color-primary);
      border-radius: 5px;
      resize: vertical;
  }

  .contact-form input:focus,
  .contact-form textarea:focus {
      outline: none;
      border-color: var(--color-pop);
      box-shadow: 0 0 5px var(--color-pop);
  }

  .contact-form button {
      background-color: var(--color-primary);
      color: white;
      font-weight: bold;
      border: none;
      padding: 0.75rem 1.5rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .contact-form button:hover {
      background-color: #0055aa;
  }

  .panes-wrapper {
      display: flex;
      width: 100%;
      height: 100vh;
      position: relative;
      overflow: hidden;
  }


  .projects-pane {
      color: black;
      background-color: white;
  }

  .experience-pane {
      color: black;
      background-color: white;
  }

  .clickable-box {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}


  .clickable-box:hover {
    transform: translateY(-2px); /* Same effect as header buttons */
}
  /* Individual boxes inside the panes */
   .project-box,
  .experience-box {
      color: #333;
      border-radius: 12px;
      padding: 2rem;
      margin-bottom: 2rem;
      width: 100%;
      max-width: 600px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      transition: background-color 0.3s ease;
  }
  /* Continuous scroll animation */
  @keyframes conveyor-scroll {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-200%); /* Moves content up */
    }
    100% {
      transform: translateY(0%); /* Moves content back down */
    }
  }

  .pane {
      width: 50%;
      height: auto;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* The animation below is what creates the "conveyor belt" effect. */
      animation: conveyor-scroll 30s ease-in-out infinite alternate; /* Increased duration for smoother transition */
  }
  
  /* The black sliding panel */
  .sliding-panel {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      background-color: black;
      cursor: pointer;
      z-index: 10;
      transition: transform 0.8s cubic-bezier(0.8, 0, 0.2, 1), background-color 0.8s ease;
  }
  
  /* Text on the sliding panel */
  .sliding-panel .panel-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
      padding: 0 1rem;
      transition: color 0.8s ease;
      pointer-events: none; /* Prevents the text from blocking the click event on the panel */
  }

  /* JavaScript-controlled classes to slide the panel and change its color */
  .sliding-panel.slide-right {
      transform: translateX(100%);
  }

  /* New class for the white panel */
  .sliding-panel.white-panel {
      background-color: white;
  }
  
  .sliding-panel.white-panel .panel-text {
      color: black;
  }

  /* Tablet & smaller desktops */
  @media (max-width: 1024px) {
      header {
          padding: 1rem;
          gap: 20px;
      }
      .icon-group {
          padding-right: 1rem;
      }
      .container {
          padding: 0 50px;
      }
      .contact-container {
          padding: 30px 20px;
      }
      .panes-wrapper {
        flex-direction: column;
        height: auto;
        min-height: auto;
      }
      .pane {
        width: 100%;
        height: auto;
        overflow-y: auto; /* Re-enable scrolling on mobile */
        animation: none; /* Disable the infinite scroll on mobile */
      }
      .sliding-panel {
        display: none; /* Hide the sliding panel on mobile */
      }
      .project-container {
        height: auto;
      }
      .container h1 {
          font-size: 3rem;
      }
      .container p {
          font-size: 1.2rem;
      }
  }

  /* Mobile landscape and tablet */
  @media (max-width: 768px) {
      header {
          display: none;
      }
      header nav {
          flex-wrap: wrap;
          justify-content: center;
      }
      header button {
          padding: 0.5rem 0.75rem;
      }
      .icon-group {
          padding-right: 0;
      }
      .profile-picture {
          margin: 0 auto;
      }
      .container {
          padding: 0 30px;
      }
      .contact-container {
          max-width: 100%;
          margin: 0;
          padding: 50px 20px;
          margin-top: 100px;
      }
  }

  /* Mobile portrait */
  @media (max-width: 480px) {
      header button {
          font-size: 0.8rem;
          padding: 0.5rem;
      }
      .container {
          padding: 0 20px;
      }
      .contact-form input,
      .contact-form textarea,
      .contact-form button {
          padding: 0.75rem;
      }
      .container h1 {
          font-size: 2.5rem;
      }
      .container p {
          font-size: 1rem;
      }
  }

  /* Smaller mobile devices */
  @media (max-width: 375px) {
      header {
          gap: 0.5rem;
      }
      header nav {
          gap: 10px;
      }
      .container {
          padding: 0 10px;
      }
      .contact-form label {
          font-size: 0.9rem;
      }
  }